#gameControls {
  width: 100%;
  float: left; }
  #gameControls #typingAreaWrapper {
    height: 200px; }
  #gameControls #scoreBoardWrapper {
    width: 100%; }
    #gameControls #scoreBoardWrapper #scoreBoard {
      float: left;
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: bold; }

#typingArea {
  width: 1000px;
  height: 20px;
  margin: 0 auto;
  border: thin solid black; }
  #typingArea .letter {
    width: 10px;
    min-width: 10px;
    min-height: 10px;
    float: left;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    font-family: "Inconsolata", "Consolas", sans-serif; }

#setupControls {
  width: 100%;
  float: left;
  text-align: center; }

/*# sourceMappingURL=typing.css.map */
