$area-width: 1000px;
$square-width: $area-width / 100;
$letter-height: 20px;

#gameControls
{
  width: 100%;
  float: left;

  #typingAreaWrapper
  {
    height: 200px;

  }

  #scoreBoardWrapper
  {
    width: 100%;

    #scoreBoard
    {
      float: left;
      width: 100%;
      text-align: center;
      font:
      {
        size: 20px;
        weight: bold;
      }
    }
  }
}

#typingArea
{
  width: $area-width;
  height: $letter-height;
  margin: 0 auto;
  border: thin solid black;

  .letter
  {
    width: $square-width;
    min-width: $square-width;
    min-height: $square-width;
    float: left;
    text-align: center;
    overflow: hidden;
    font:
    {
      size: $letter-height;
      family: "Inconsolata", "Consolas", sans-serif;
    }
  }
}

#setupControls
{
  width: 100%;
  float: left;
  text-align: center;
}
